
# Disable directory indexing

Options -Indexes
Options +FollowSymLinks
Options -MultiViews

RewriteEngine on
RewriteBase /

# Disables all access to files and directories, sends all request to dev_app.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

DirectoryIndex dev_app.php 

RewriteCond %{REQUEST_URI} !backend
RewriteRule ^(.*)$ dev_app.php/$1
RewriteRule ^backend(.*)$ dev_backend.php/$1